version: "3.8"

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
      platforms:
        - linux/amd64
    ports:
      - "8000:80"
    environment:
      - NODE_ENV=production
      - DATABASE_URL=postgresql://postgres:postgres@postgres:5432/usertour?schema=usertour&sslmode=prefer
      - JWT_ACCESS_SECRET=
      - JWT_REFRESH_SECRET=
      - EMAIL_HOST=
      - EMAIL_PORT=
      - EMAIL_USER=
      - EMAIL_PASS=
      - Redis_HOST=
      - Redis_PORT=6379
      - Redis_PASS=
      - APP_HOMEPAGE_URL=https://localhost:5174
      - AWS_S3_REGION=
      - AWS_S3_ENDPOINT=
      - AWS_S3_ACCESS_KEY_ID=
      - AWS_S3_SECRET_ACCESS_KEY=
      - AWS_S3_BUCKET=
      - AWS_S3_DOMAIN=
      - PRISMA_BINARY_PLATFORM=linux-musl-openssl-3.0.x
    depends_on:
      - postgres
      - redis
    restart: always

  postgres:
    image: postgres:15-alpine
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=usertour
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

  redis:
    image: redis:alpine
    volumes:
      - redis_data:/data
    restart: always

volumes:
  postgres_data:
  redis_data:
